/* Estilos para o container de perguntas */
.question-container {
    text-align: center;
    max-width: 600px;
    max-height: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    flex-grow: 1;
    margin: 0 20px;
    width: 100%;
    height: 100%;
}

.question-container h2 {
    font-size: 1.5rem;
}

.question-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilos para as opções de resposta */
.select-input {
    width: 325px; /* Largura ajustável conforme necessário */
    padding: 5px;
    font-size: 1rem; /* Tamanho da fonte personalizado */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    outline: none;
  }

  .text-input {
    width: 350px; /* Largura ajustável conforme necessário */
    padding: 5px;
    font-size: 1rem; /* Tamanho da fonte personalizado */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    outline: none;
  }

/* Estilos para as setas de navegação */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.navigation-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-buttons button:hover {
    background-color: #0056b3;
}

.finish-button-container {
    text-align: center;
    margin-top: 20px;
}

.finish-button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.finish-button-container button:hover {
    background-color: #0056b3;
}


button {
    background: none;
    border: none;
    font-size: 24px;
    margin: 8px;
    cursor: pointer;
    color: #007BFF;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

/* Estilização para o botão "Enviar Formulário" */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* Adicione essas classes ao seu arquivo CSS */
.question-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


button:hover {
    color: #007bff;
    /* Cor de destaque ao passar o mouse */
}

/* Estilo para campos de tipo número */
.number-input {
    width: 80px; /* Largura ajustável conforme necessário */
    padding: 5px;
    font-size: 1rem; /* Tamanho da fonte personalizado */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    outline: none;
  }
  
  /* Estilo para botão de incremento e decremento */
  .number-input .number-control .feedback-container .feedback-textarea {
    cursor: pointer;
    font-size: 0.8rem; /* Tamanho da fonte personalizado para botões */
    background-color: #007bff; /* Cor de fundo personalizada para os botões */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    margin: 0;
    outline: none;
  }
  
  /* Estilo para botão de incremento */
  .number-input .number-control.increment {
    margin-left: 5px;
  }
  
  /* Estilo para botão de decremento */
  .number-input .number-control.decrement {
    margin-right: 5px;
  }
  

  .number-input .number-control:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button-container {
    text-align: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Define uma margem superior para separar os botões das perguntas */
  }
  
  .button-container button {
    margin: 10px; /* Define uma margem entre os botões, ajuste conforme necessário */
    padding: 10px 20px; /* Define um preenchimento interno nos botões */
    background-color: #007bff; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    border: none; /* Remove as bordas dos botões */
    border-radius: 5px; /* Adiciona bordas arredondadas aos botões */
    cursor: pointer; /* Altera o cursor ao pairar sobre os botões */
  }
  
  .button-container button:hover {
    background-color: #0056b3; /* Cor de fundo alterada ao pairar sobre os botões */
  }
  

  @media (max-width: 768px) {
    .question-nav {
        font-size: 14px; /* Reduza o tamanho da fonte */
        /* Outros estilos específicos para dispositivos móveis */
    }
    .question-container {
        padding: 10px; /* Adicione algum espaço interno */
    }
    .select-input,
    .text-input {
        width: 100%; /* Faça os inputs ocuparem toda a largura */
    }
    .finish-button-container {
        text-align: center; /* Centralize o botão */
    }
}